.player {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.player::-webkit-scrollbar {
  display: none;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding-bottom: 5px;
  align-items: center;
}
.nav-link {
  display: flex;
  flex-direction: row;
}
.nav-btn {
  background: rgba(10, 10, 10, 1);
  color: white;
  outline: none;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.log {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: 0;
  background: rgba(10, 10, 10, 1);
  padding: 8px;
  border-radius: 30px;
}
.loggedData {
  display: flex;
  align-items: center;
}
.loggedData > span {
  color: #fff;
  margin-left: 10px;
}
.login-btn {
  margin-right: 20px;
  color: rgb(0, 255, 127);
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  text-decoration: none;
}
.login-btn:hover {
  color: rgba(0, 255, 127, 0.9);
}
.signup-btn {
  color: rgb(0, 255, 127);
  text-decoration: none;
  border: 2px solid rgb(0, 255, 127);
  background: rgba(0, 255, 127, 0.15);
  padding: 2px 10px;
  outline: none;
  border-radius: 10px;
  font-size: 1.1rem;
}
.music-player {
  position: fixed;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  background: black;
  top: 10px;
  /*margin-top: 20px;
  height: calc(100% - top);*/
  left: 0;
  border-radius: 20px;
  box-shadow: 0 0.5rem 2rem rgba(0, 255, 127, 0.7);
  overflow: hidden;
}
.min-music-player {
  position: fixed;
  width: 80%;
  bottom: 90px;
  margin-top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background: black;
  z-index: 20;
}
.mp-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem;
  z-index: 10;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}
.album-art {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.default-art {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
  position: relative;
}

.default-art-outer img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: black;
  border: 15px solid rgb(0, 255, 127);
  box-shadow: 0px 1px 10px rgba(0, 255, 127, 0.9);
}
/*-----------------------controls-----------------*/
.controls {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
.left-control {
  flex: 0.3;
}
.mid-control {
  flex: 0.7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-control {
  flex: 0.3;
}
.play-container {
  background: rgba(0, 255, 127, 0.9);
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px rgb(0, 255, 127);
}
.controls-icon {
  color: #fff;
}
/*-----------now playing info--------------------*/
.music-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.s-info {
  max-width: 300px;
  margin-bottom: 1rem;
}

.np-name {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.np-by-outer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.np-by {
  display: inline-flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: wheat;
  width: 100%;
}
/*------------------minimised player----------------*/
.minimised-player {
  width: 80%;
  min-height: 80px;
  background: rgba(10, 10, 10, 1);
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  z-index: 20;
}
.min-left {
  flex: 0.3;
  position: relative;
}
.min-mid {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.min-right {
  position: relative;
  flex: 0.3;
  z-index: 10;
}
.mini-album-art {
  background: white;
  position: absolute;
  top: -10px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.1rem 0.5rem white;
}
.mini-play-container {
  background: rgba(0, 255, 127, 1);
  border-radius: 50%;
  padding: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px rgb(0, 255, 127);
}
.mini-play-container:hover {
  transform: scale(1.1);
}
.pp-mini-outer {
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 0;
  background: transparent;
}
.pp-mini {
  background: transparent;
  display: inline-flex;
  border: 13px solid rgba(10, 10, 10, 1);
  border-radius: 50%;
  position: relative;
}
/*.pp-mini::before {
  content: '';
  position: absolute;
  background: rgba(10, 10, 10, 1);
  width: 20px;
  height: 20px;
  top: 25px;
  left: -30px;
  border-top-left-radius: 100%;
}
.pp-mini::after {
  content: '';
  position: absolute;
  background: rgba(10, 10, 10, 1);
  width: 20px;
  height: 20px;
  top: 25px;
  right: -30px;
  border-top-right-radius: 100%;
}*/
.album-bg {
  width: 100%;
  height: 100%;
  position: relative;
  filter: blur(2px);
  object-fit: cover;
}

.album-sm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 15;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/*-------------------------------------------------------------*/
.vz-wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  background: -webkit-gradient(
    radial,
    center center,
    0,
    center center,
    460,
    from(#396362),
    to(#000000)
  );
  background: -webkit-radial-gradient(circle, #396362, #000000);
  background: -moz-radial-gradient(circle, #396362, #000000);
  background: -ms-radial-gradient(circle, #396362, #000000);
  box-shadow: inset 0 0 160px 0 #000;
  cursor: pointer;
}
.vz-wrapper.-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: initial;
  width: initial;
  background: transparent;
  box-shadow: none;
}

/*--------------search---------------*/
.search {
  border-radius: 50px;
  padding: 5px;
  border: 2px solid rgba(0, 255, 127, 1);
  box-shadow: 0 2px 7px rgba(0, 255, 127, 1);
  display: flex;
}
.search ion-icon {
  font-size: 2rem;
}
.search input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  width: 300px;
  line-height: 2rem;
}
/*----------------------------------------*/

@media screen and (max-width: 992px) {
  .music-player {
    width: 97%;
  }
  .min-music-player {
    width: 98%;
  }
  .minimised-player {
    width: 98%;
  }
}
@media screen and (max-width: 500px) {
  .album-art {
    height: 50vh;
  }
}
