:root {
  --main-theme: rgb(0, 255, 127);
  --main-theme-bg: rgb(0, 255, 127, 0.75);
}
.theme {
  color: var(--main-theme) !important;
}
.themeBG {
  background: var(--main-theme-bg);
}
.player {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 10px;
}
.player::-webkit-scrollbar {
  display: none;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.navi-link {
  display: flex;
  flex-direction: row;
}
.nav-btn {
  background: rgba(10, 10, 10, 1);
  color: white;
  outline: none;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.log {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 30px;
}
.loggedData {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.loggedData > span {
  color: #fff;
  margin-left: 10px;
}
.login-btn {
  margin-right: 20px;
  color: rgb(0, 255, 127);
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  text-decoration: none;
}
.login-btn:hover {
  color: rgba(0, 255, 127, 0.9);
}
.signup-btn {
  color: rgb(0, 255, 127);
  text-decoration: none;
  border: 2px solid rgb(0, 255, 127);
  background: rgba(0, 255, 127, 0.15);
  padding: 2px 10px;
  outline: none;
  border-radius: 10px;
  font-size: 1.1rem;
}
.music-player {
  position: fixed;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  bottom: 10px;
  /*margin-top: 20px;
  height: calc(100% - top);*/
  left: 0;
  border-radius: 20px;
  /*box-shadow: 0 0.5rem 0.5rem rgba(0, 255, 127, 0.5);*/
  overflow: hidden;
}
.max-player-1 {
  background: rgba(23, 30, 33, 0.6);
}

.max-player-1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  z-index: -1;
}

.mp-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem;
  z-index: 50;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}
.album-art {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.default-art {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
  position: relative;
}

.default-art-outer img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: black;
  border: 15px solid var(--main-theme);
  box-shadow: 0px 1px 10px var(--main-theme);
}
/*-----------------------controls-----------------*/
.controls {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
.left-control {
  flex: 0.3;
  justify-content: space-around;
}
.mid-control {
  flex: 0.7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-control {
  flex: 0.3;
  justify-content: center;
  align-items: center;
}
.play-container {
  background: var(--main-theme);
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px var(--main-theme);
}
.sm-play-btn {
  color: var(--main-theme);
}
.play-container-cover {
  position: absolute;
  bottom: 30px;
  right: 25px;
  background: rgba(0, 255, 127, 0.9);
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px rgb(0, 255, 127);
}
.controls-icon {
  color: #fff;
}

/*-----------now playing info--------------------*/
.music-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.s-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-info-text {
  width: 600px;
}

.lyrics-btn {
  background-color: rgba(var(--main-theme), 0.1);
  padding: 2px 5px;
  border: 2px solid var(--main-theme);
  border-radius: 5px;
  color: var(--main-theme);
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: var(--font);
}
.lyrics-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.lyrics-btn.active {
  background-color: var(--main-theme);
  color: white;
}
/*-------------------lyric-div-----------------------*/
.lyric-div-outer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
}
.lyric-div-outer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.album-lyric {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  top: -40px;
  left: 10px;
}

.lyrics-outer {
  z-index: 1;
  width: 250px;
  text-align: center;
  width: 90%;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.lyrics-outer::-webkit-scrollbar {
  width: 8px;
}
.lyrics-outer::-webkit-scrollbar-track {
  background: transparent;
}
.lyrics-outer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.lyrics-outer::-webkit-scrollbar-thumb:hover {
  background: white;
}

.lyrics-txt {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  white-space: pre-wrap;
  letter-spacing: 2px;
  margin-bottom: 110px;
  font-weight: 700;
  font-family: var(--font);
  -webkit-text-stroke: 0.8px black;
  -webkit-text-fill-color: white;
}

/*---------------------------------------------------*/
.np-name {
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--font);
}

.np-by-outer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.np-by {
  display: inline-flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: wheat;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
}
.np-by-min {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  color: wheat;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
}
/*------------------minimised player----------------*/
.minimised-player {
  width: 80%;
  min-height: 80px;
  background: rgba(10, 10, 10, 1);
  border-radius: 20px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  z-index: 20;
}
.minimised-player-2 {
  width: 80%;
  min-height: 80px;
  background: rgba(10, 10, 10, 1);
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  z-index: 20;
}

.minimised-player-2 .min-2-left {
  flex: 0.2;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
}
.minimised-player-2 .min-2-mid {
  flex: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.minimised-player-2 .min-2-right {
  flex: 0.3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.minimised-player-3 {
  width: 300px;
  min-height: 80px;
  background: rgba(10, 10, 10, 1);
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  right: 0;
  margin-right: auto;
  text-align: center;
  display: flex;
  z-index: 25;
}
.minimised-player-3 .min-3-left {
  flex: 0.2;
  position: relative;
  display: flex;
  align-items: center;
}

.pulse-outer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
}

.pulse-outer::before {
  animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.minimised-player-3 .min-3-right {
  flex: 0.75;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.min-left {
  flex: 0.3;
  position: relative;
}
.min-mid {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.min-right {
  position: relative;
  flex: 0.3;
  z-index: 10;
}
.mini-album-art {
  background: white;
  position: absolute;
  top: -10px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0.1rem 0.5rem white;
}
.mini-album-art-2 {
  background: white;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border-radius: 5px;
}
.mini-album-art-3 {
  background: white;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}
.mini-play-container {
  background: rgba(0, 255, 127, 1);
  border-radius: 50%;
  padding: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px rgb(0, 255, 127);
}
.mini-play-container:hover {
  transform: scale(1.1);
}
.pp-mini-outer {
  position: absolute;
  top: -45px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 0;
  background: transparent;
}
.pp-mini {
  background: transparent;
  display: inline-flex;
  border: 13px solid rgba(10, 10, 10, 1);
  border-radius: 50%;
  position: relative;
}
/*.pp-mini::before {
  content: '';
  position: absolute;
  background: rgba(10, 10, 10, 1);
  width: 20px;
  height: 20px;
  top: 25px;
  left: -30px;
  border-top-left-radius: 100%;
}
.pp-mini::after {
  content: '';
  position: absolute;
  background: rgba(10, 10, 10, 1);
  width: 20px;
  height: 20px;
  top: 25px;
  right: -30px;
  border-top-right-radius: 100%;
}*/
.album-bg {
  width: 100%;
  height: 100%;
  position: relative;
  filter: blur(0px);
  object-fit: cover;
}

.album-sm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 15;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.album-sm-fs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  margin: auto;
  z-index: 15;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/*-------------------------------------------------------------*/

/*--------------search---------------*/
.search {
  border-radius: 50px;
  padding: 5px;
  border: 2px solid var(--main-theme);
  box-shadow: 0 2px 7px var(--main-theme);
  display: flex;
}
.search ion-icon {
  font-size: 2rem;
  color: var(--main-theme);
}
.search input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  width: 280px;
  line-height: 2rem;
}
/*-----------------add to playlist---------------*/
.atp-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  background: transparent;
}
.atp {
  width: 400px;
  background: rgba(23, 30, 33, 0.5);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.atp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: inherit;
  backdrop-filter: blur(5px);
}

.atp-header {
  display: flex;
  justify-content: space-between;
  background: rgba(23, 30, 33, 0.9);
  padding: 1rem;
}
.atp-inner {
  height: 400px;
  overflow: auto;
  margin-bottom: 3rem;
}
.atp-inner::-webkit-scrollbar {
  width: 7px;
}
.atp-inner::-webkit-scrollbar-track {
  background: transparent;
}
.atp-inner::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.atp-inner::-webkit-scrollbar-thumb:hover {
  background: white;
}
.atp-footer {
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: end;
  background: rgba(23, 30, 33, 0.9);
  width: 100% !important;
  position: absolute;
  bottom: 0;
}
.add-btn {
  border: none;
  outline: none;
  background: var(--main-theme);
  border-radius: 5px;
  font-weight: 600;
  color: black;
  font-size: small;
  padding: 0.4rem 1rem;
}
.cancel-btn {
  border: none;
  outline: none;
  background: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  font-size: small;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
}
.atp-t-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.atp-t-info img {
  border-radius: 5px;
}
.atp-t-info span {
  width: 250px;
  text-align: center;
}
.atp-p-info {
  display: flex;
  border-radius: 10px;
  padding: 10px;
}
.atp-p-info:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.atp-p-check {
  flex: 0.1;
}
.atp-p-name {
  flex: 0.6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.atp-p-count {
  flex: 0.3;
  text-align: right;
}
/*---------------------keyboard----------------------*/
.key-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.key-name {
  color: white;
}
.key-btn {
  color: white;
  padding: 5px 12px;
  border-radius: 7px;
  border: 1px solid var(--main-theme);
  box-shadow: 1px 2px 0 var(--main-theme);
  font-size: 1rem;
}
/*---------------My-devices-------------*/
.devices-container {
  position: relative;
  overflow: visible;
}
.my-devices {
  position: absolute;
  bottom: 35px;
  left: 0;
  background-color: rgba(23, 30, 33, 0.8);
  border-radius: 10px;
  z-index: 15;
  min-width: 20px;
}
.my-devices::before {
  content: '';
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: inherit;
  backdrop-filter: blur(5px);
}
.my-devices::after {
  content: '';
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: inherit;
  position: absolute;
  left: 3px;
  bottom: -3px;
  width: 18px;
  height: 18px;
  z-index: -1;
  transform: rotate(45deg);
  backdrop-filter: blur(5px);
}
.my-devices img {
  padding: 0.5rem;
}
.device-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}
.device-list:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.device-info {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.device-info span {
  width: 100%;
}
.device-name {
  color: rgba(255, 255, 255, 0.8);
}
.device-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.visualizer {
  display: flex;
  width: 100%;
}

.fullscreen-controls {
  position: absolute;
  bottom: 400px;
  left: 100px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.fullscreen-btns {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 20;
}

/*----------------------------------------*/

@media screen and (max-width: 992px) {
  .player {
    padding: 0px;
  }
  .my-devices {
    margin-left: 1.5rem;
  }
  .music-player {
    bottom: 75px;
    width: 97%;
    /*background: rgba(0, 255, 127, 0.2);*/
  }
  .min-music-player {
    width: 98%;
  }
  .minimised-player,
  .minimised-player-2 {
    width: 98%;
    bottom: 75px;
  }
  .minimised-player-3 {
    bottom: 75px;
  }
  .mid-control {
    flex: 1;
  }
}
@media screen and (max-width: 500px) {
  .music-player {
    width: 100%;
    height: 100vh;
    bottom: 0;
    border-radius: 0;
  }
  .max-player-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .album-art {
    height: 50vh;
  }
  .mini-play-container {
    padding: 0.9rem;
  }
  .atp {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .atp-inner {
    height: 80vh;
  }
}
@media screen and (max-width: 700px) {
  .s-info-text {
    width: 260px;
  }
  .fullscreen-btns {
    display: none;
  }
}
