* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --font: 'Shadows Into Light', cursive;
  --main-theme: rgb(0, 255, 127);
  --col-thief: rgb(0, 255, 127);
  --col-thief-bg-lite: rgba(0, 255, 127, 0.1);
  --main-theme-bg: rgb(0, 255, 127, 0.75);
  --main-theme-bg-lite: rgb(0, 255, 127, 0.1);
  --background: black;
  --background-lite: rgba(255, 255, 255, 0.1);
  --text-primary: #fff;
  --text-secondary: #fff;
  --navigation-background: black;
  --navigation-before: rgba(255, 255, 255, 0.1);
  --more-options-border: rgb(24, 24, 24);
  --more-options-background: rgb(24, 24, 24);
  --customise-buttons: var(--main-theme);
  --bp-name: wheat;
  --max-player-1-bg: rgba(23, 30, 33, 0.6);
  --atp-modal: rgba(23, 30, 33, 0.5);
  --notibar-success: rgb(0, 255, 127);
}

[data-theme='light'] {
  --background: white;
  --background-lite: rgba(0, 0, 0, 0.1);
  --text-primary: black;
  --text-secondary: grey;
  --navigation-background: transparent;
  --more-options-background: transparent;
  --navigation-before: transparent;
  --more-options-border: grey;
  --customise-buttons: black;
  --bp-name: wheat;
  --max-player-1-bg: rgba(23, 30, 33, 0.6);
  --atp-modal: rgba(0, 0, 0, 0.2);
  --notibar-success: green;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

hr {
  opacity: 1 !important;
}

body::-webkit-scrollbar {
  display: none;
}

.display-cut {
  height: 100vh;
  overflow: auto;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.display-cut::-webkit-scrollbar {
  display: none;
}

.homepage {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

div {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.section-heading {
  color: var(--text-primary);
  font-size: 1.1rem;
  margin-bottom: 0px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: var(--font);
}

.font-1 span,
.font-1 p,
.font-1 a {
  letter-spacing: 2px;
  font-weight: 700 !important;
  font-family: var(--font);
}

.font-1-s span,
.font-1-s p,
.font-1-s a {
  letter-spacing: 1px;
  font-family: var(--font);
}

.s-logo img {
  width: 100%;
}

.s-logo {
  position: absolute;
  bottom: 20px;
  background: black;
  border-radius: 50%;
  border: 4px solid var(--background);
  right: -5px;
  width: 35px;
}

/*-----------------frontpage---------------*/
.front-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: black;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--main-theme) !important;
  text-shadow: 0 4px 20px var(--main-theme);
  font-size: 3rem;
  /*font-family: 'Covered By Your Grace', cursive;*/
  font-family: 'Kristi', cursive;
}

.fpage-pic {
  position: absolute;
  width: 360px;
  height: 360px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.fpage-pic img {
  width: 100%;
}

.login-div {
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  background: black;
  z-index: 2;
  border-radius: 30px;
  box-shadow: 0 5px 15px var(--main-theme);
}

.login-link {
  color: var(--main-theme);
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  border: 2px solid var(--main-theme);
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 700px !important;
  font-family: var(--font);
}

.login-link:hover {
  color: var(--main-theme);
  background: rgba(0, 255, 127, 0.2);
}

.about-holder {
  margin-top: 50px;
  display: flex;
  position: relative;
  overflow: visible;
}

.holder-1 {
  border-radius: 20px;
}

.hold-pic {
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

.holder-2 {
  left: 40px;
  top: 50px;
}

.holder-3 {
  left: 80px;
  top: 90px;
}

.holder-4 {
  left: 120px;
  top: 130px;
}

.holder-5 {
  left: 160px;
  top: 170px;
}

.about-img {
  width: 700px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.zf {
  z-index: 2;
  box-shadow: 0 2px 20px var(--main-theme);
}

.made-by {
  position: fixed;
  bottom: 0;
}

.made-by-font {
  color: var(--main-theme) !important;
  text-shadow: 0 4px 20px var(--main-theme);
  font-family: var(--font);
  text-decoration: none;
}

/*--------------------------------skeletons-----------------*/
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.create-pl-btn {
  outline: none;
  padding: 0.2rem 0.3rem;
  margin: 1rem;
  border: 2px solid var(--main-theme);
  border-radius: 30px;
  background: var(--main-theme-bg-lite);
  color: var(--main-theme);
  display: flex;
}

.create-pl-btn span,
.pl-form-outer label {
  letter-spacing: 2px;
  font-weight: 700px !important;
  font-family: var(--font);
}

.create-pl-btn:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.playlist-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-form-outer {
  border-radius: 20px;
  padding: 1rem;
  background: rgba(10, 10, 10, 0.95);
  display: flex;
}

.upload-img-div {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.uploaded-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
}

.pl-form-outer input {
  background: transparent;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid var(--main-theme);
  padding: 2px;
  color: white;
  outline: none;
  max-width: 200px;
}

.create-btn {
  color: var(--main-theme);
  border: none;
  outline: none;
  background: transparent;
  margin-right: 15px;
  font-size: 0.9rem;
}

.cancel-btn {
  color: white;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.9rem;
}

.remove-img-btn {
  background: transparent;
  border: none;
  outline: none;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

/*--------------responsive----------------------*/
@media screen and (max-width: 992px) {
  body {
    background: rgb(10, 10, 10);
  }

  .about-holder {
    display: none;
  }

  .login-div {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .btn-settings-holder {
    flex-direction: column;
    align-items: center;
  }

  .btn-settings {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 560px) {
  .pl-form-outer {
    flex-direction: column;
    align-items: center;
  }

  .upload-img-div {
    width: 120px;
    height: 120px;
  }

  .user-pic {
    width: 150px;
  }

  .s-logo {
    width: 25px;
    right: 0;
    border: 0px solid black;
  }

  body {
    background-size: cover !important;
  }
}