/*---PLAYER3------------------------*/
.album-sm {
    width: 300px;
    height: 300px;
}

.circular-slider-cont-2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    z-index: 2;
}

.circular-slider-cont-2.left {
    position: absolute;
    bottom: -300px;
    left: -300px;
}

.circular-slider-cont-2.right {
    position: absolute;
    bottom: -300px;
    right: -300px;
}

.circular-slider-cont-2-controls-outer {
    position: absolute;
    width: 89%;
    height: 89%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 11;
}

.circular-slider-cont-2-controls-outer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--col-thief-bg-lite);
    backdrop-filter: blur(3px);
}

.circle-holder {
    position: relative;
}

.circle-holder img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
}

.circling-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circling-2 svg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    transform: rotate(180deg);
}

.circling-2 svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #fff;
    stroke-width: 3;
}

.circling-2 svg circle:nth-child(2) {
    stroke: var(--col-thief);
    stroke-width: 4;
}

.dots-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    transform: translate3d(-50%, -50%, 0);
    justify-content: center;
    cursor: pointer;
}

.dots-2 .dot-seeker-2 {
    content: '';
    position: absolute;
    width: 5%;
    height: 50%;
    left: 47.5%;
    border-radius: 10px;
    top: 0;
    transform: rotate(-90deg);
    transform-origin: center bottom;
}

.dots-2 .dot-seeker-2:before {
    content: "";
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    width: 26px;
    height: 26px;
    margin-top: -0.5rem;
    margin-left: 1rem;
    transform: translate3d(-25%, -25%, 0);
    border-radius: 50%;
    cursor: pointer;
    background: var(--col-thief);
    border: 1px solid #fff;
}

.player-3-album {
    width: 83%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}

.player-3-album img {
    width: 100%;
    height: 100%;
}


.suggest-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 17;
    width: 90%;
    height: 130px;
    display: flex;
    color: white;
    padding: 1rem;
    background: var(--main-theme-bg-lite);
    border-radius: 10px;
    display: none;
}

.suggest-modal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 500px var(--main-theme-bg-lite);
    backdrop-filter: blur(7px);
    z-index: -1;
}

.suggest-modal p,
.suggest-modal i {
    font-family: var(--font);
    letter-spacing: 1px;
}

.suggest-modal button {
    position: absolute;
    top: -15px;
    right: -10px;
    background: var(--main-theme-bg-lite);
    border-radius: 50%;
}

.quad-pp.right {
    position: absolute;
    top: 210px;
    left: 210px;
}

.quad-pp.left {
    position: absolute;
    top: 210px;
    right: 210px;
}


.quad-pp .timer-f.left {
    position: absolute;
    top: -13rem;
    right: 1rem;
    transform: rotate(5deg);
}

.quad-pp .timer-f.right {
    position: absolute;
    top: 1rem;
    left: -13.5rem;
    transform: rotate(-83deg);
}

.quad-pp .timer-t.left {
    position: absolute;
    top: 1rem;
    right: -13.5rem;
    transform: rotate(83deg);
}

.quad-pp .timer-t.right {
    position: absolute;
    top: -13rem;
    left: 1rem;
    transform: rotate(-5deg);
}

.quad-pp .main-play-container {
    background: var(--col-thief);
    box-shadow: none;
}

.quad-pp .quad-btn-l1,
.quad-pp .quad-btn-l2 {
    position: absolute;
}

.quad-pp .quad-btn-l1.right:nth-child(2) {
    top: -4.7rem;
    right: 2rem;
    transform: rotate(-35deg);
}

.quad-pp .quad-btn-l1.right:nth-child(3) {
    bottom: 1rem;
    left: -5rem;
    transform: rotate(-60deg);
}


.quad-pp .quad-btn-l1.left:nth-child(2) {
    bottom: 1rem;
    right: -5rem;
    transform: rotate(60deg);
}

.quad-pp .quad-btn-l1.left:nth-child(3) {
    top: -4.7rem;
    left: 2rem;
    transform: rotate(35deg);
}


.quad-pp .quad-btn-l2.right:nth-child(4) {
    bottom: 2rem;
    left: -9.7rem;
    transform: rotate(-80deg);
}

.quad-pp .quad-btn-l2.right:nth-child(5) {
    bottom: 8.5rem;
    left: -6.5rem;
    transform: rotate(-40deg);
}

.quad-pp .quad-btn-l2.right:nth-child(6) {
    bottom: 12.3rem;
    left: 0rem;
    transform: rotate(-10deg);
}

/*------------L2-LEFT------------------*/
.quad-pp .quad-btn-l2.left:nth-child(4) {
    bottom: 2rem;
    right: -9.7rem;
    transform: rotate(80deg);
}

.quad-pp .quad-btn-l2.left:nth-child(5) {
    bottom: 8.5rem;
    right: -6.5rem;
    transform: rotate(40deg);
}

.quad-pp .quad-btn-l2.left:nth-child(6) {
    bottom: 12.3rem;
    right: 0rem;
    transform: rotate(10deg);
}


.fullscreen-btns-p-4 {
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fullscreen-btns-p-4.left {
    left: 0px;
}

.fullscreen-btns-p-4.right {
    right: 0px;
}

.fullscreen-btns-p-4 .fs-btn {
    font-size: 1.3rem;
    color: #fff;
    z-index: 50;
    filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}

.fullscreen-btns-p-4 div {
    margin: 1rem;
}

.fullscreen-btns-p-4 .devices-container button {
    margin-left: auto !important;
}