.theme {
  color: var(--main-theme) !important;
}
.themeBG {
  background: var(--main-theme-bg);
}
.player {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 10px;
}
.player::-webkit-scrollbar {
  display: none;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  padding-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.navi-link {
  display: flex;
  flex-direction: row;
}
.nav-btn {
  background: var(--navigation-background);
  color: var(--text-primary);
  backdrop-filter: blur(10px);
  outline: none;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.log {
  display: flex;
  align-items: center;
  background: var(--background-lite);
  padding: 8px;
  border-radius: 30px;
}
.loggedData {
  display: flex;
  align-items: center;
}
.loggedData > span {
  color: #fff;
  padding-left: 10px;
}
.login-btn {
  color: var(--main-theme);
  text-decoration: none;
}
.login-btn ion-icon {
  font-size: 2.5rem;
}
.login-btn:hover {
  color: var(--main-theme-bg);
}
.signup-btn {
  color: var(--main-theme);
  text-decoration: none;
  border: 2px solid var(--main-theme);
  background: rgba(0, 255, 127, 0.15);
  padding: 2px 10px;
  outline: none;
  border-radius: 10px;
  font-size: 1.1rem;
}
.music-player {
  position: fixed;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  bottom: 10px;
  transition: all 0.5s;
  animation: hola 0.5s ease-out;
  /*margin-top: 20px;
  height: calc(100% - top);*/
  border-radius: 20px;
  /*box-shadow: 0 0.5rem 0.5rem rgba(0, 255, 127, 0.5);*/
  overflow: hidden;
}
@keyframes hola {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}
.max-player-1 {
  background: var(--max-player-1-bg);
  position: relative;
}
.max-player-1 .music-info{
  width: calc(100% - 132px);
}
.quadrant{
  position: absolute;
  bottom: 0;
  right: 0;
}

.max-player-1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  z-index: -1;
}
.text-timer{
  margin: 0;
  color: azure;
  width: 45px;
  font-family: var(--font);
  text-align: center;
  font-size: 1.3rem;
}
.top-left-quarter-circle {
  width: 300px;
  height: 300px;
  border-radius: 300px 0 0 0;
  background-color: transparent;
  position: absolute;
  outline: transparent;
  bottom: 0;
  right: 0;
}

.top-left-quarter-circle:nth-child(1) {
  border-left:10px solid var(--col-thief);
  border-top:10px solid var(--col-thief);
  z-index: 1;
}
.top-left-quarter-circle:nth-child(1)::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height:250px;
  border-radius: 250px 0 0 0;
  background-color: var(--col-thief-bg-lite);
  backdrop-filter: blur(3px);
  }
.top-left-quarter-circle:nth-child(2) {
  border-left:10px solid whitesmoke;
  border-top:10px solid whitesmoke;
  transform: rotate(0deg);
  transform-origin: bottom right;
  z-index: 2;
}
.top-left-quarter-circle:nth-child(3) {
  width: 150px;
  height:150px;
  border-radius: 150px 0 0 0;
  z-index: 3;
}
.quad-seeker{
  position: absolute;
  width: 5%;
  height: 107%;
  right: 0;
  border: none;
  border-radius: 10px;
  bottom: 0;
  transform: rotate(-87deg);
  transform-origin: bottom right;
}
.quad-seeker:before {
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  width: 26px;
  height: 26px;
  margin-top: 0.5rem;
  transform: translate3d(-25%, -25%, 0);
  border-radius: 50%;
  cursor: pointer;
  background: var(--col-thief);
  border: 1px solid #fff;
  z-index: 10;
}
.top-left-quarter-circle .quad-pp{
 position: absolute;
 bottom: 0;
 right: 0;
}
.top-left-quarter-circle .quad-pp .timer-f{
  position: absolute;
  top: 1rem;
  left: -13.5rem;
  transform: rotate(-83deg);
 }
 .top-left-quarter-circle .quad-pp .timer-t{
  position: absolute;
  top: -13rem;
  left: 1rem;
  transform: rotate(-5deg);
 }
.top-left-quarter-circle .quad-pp .main-play-container{
  background: var(--col-thief);
  box-shadow: none;
}
.top-left-quarter-circle .quad-pp .quad-btn-l1,
  .top-left-quarter-circle .quad-pp .quad-btn-l2{
    position: absolute;
}
.top-left-quarter-circle .quad-pp .quad-btn-l1:nth-child(2){
  top: -4.7rem;
  right: 2rem;
  transform: rotate(-35deg);
}
.top-left-quarter-circle .quad-pp .quad-btn-l1:nth-child(3){
  bottom: 1rem;
  left: -5rem;
  transform: rotate(-60deg);
}
.top-left-quarter-circle .quad-pp .quad-btn-l2:nth-child(4){
  bottom: 2rem;
  left: -9.7rem;
  transform: rotate(-80deg);
}.top-left-quarter-circle .quad-pp .quad-btn-l2:nth-child(5){
  bottom: 9rem;
  left: -6rem;
  transform: rotate(-40deg);
}
.top-left-quarter-circle .quad-pp .quad-btn-l2:nth-child(6){
  bottom: 12.3rem;
  left: 0rem;
  transform: rotate(-10deg);
}


.switch-btns {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem;
  z-index: 50;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}
.mp-toggle {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2.5rem;
  z-index: 50;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}

.fs-btn {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
  z-index: 50;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}
.album-art {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.default-art {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
  position: relative;
}

.default-art-outer img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: var(--navigation-background);
  border: 15px solid var(--main-theme);
  box-shadow: 0px 1px 10px var(--main-theme);
}
/*-----------------------controls-----------------*/
.controls {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
.extra-controls {
  display: none;
  justify-content: space-between;
}
.left-control {
  display: flex;
  flex: 0.3;
  justify-content: space-around;
}
.mid-control {
  flex: 0.7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-control {
  display: flex;
  flex: 0.3;
  justify-content: center;
  align-items: center;
}
.play-container {
  background: var(--main-theme);
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px var(--main-theme);
}
.main-play-container {
  background: var(--main-theme);
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px var(--main-theme);
}
.main-play-container .MuiSvgIcon-fontSizeLarge {
  font-size: 3rem;
}
.sm-play-btn {
  color: var(--main-theme);
}
.play-container-cover {
  position: absolute;
  bottom: 30px;
  right: 25px;
  background: var(--main-theme);
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px var(--main-theme);
}
.controls-icon {
  color: #fff;
}

/*-----------now playing info--------------------*/
.music-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.music-info-player-3 {
  height: 90%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.music-info-player-3 .s-info {
  width: calc(100% - 132px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.s-info-text {
  overflow: hidden;
  width: 100%;
  text-align: center;
}


.lyrics-btn {
  background-color: rgba(var(--main-theme), 0.1);
  padding: 2px 5px;
  border: 2px solid var(--main-theme);
  border-radius: 5px;
  color: var(--main-theme);
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: var(--font);
}
.lyrics-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.lyrics-btn.active {
  background-color: var(--main-theme);
  color: white;
}
/*-------------------lyric-div-----------------------*/
.lyric-div-outer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 95%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
}
.lyric-div-outer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.album-lyric {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  top: -40px;
  left: 10px;
}

.lyrics-outer {
  z-index: 1;
  text-align: center;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.lyrics-outer::-webkit-scrollbar {
  width: 8px;
}
.lyrics-outer::-webkit-scrollbar-track {
  background: transparent;
}
.lyrics-outer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.lyrics-outer::-webkit-scrollbar-thumb:hover {
  background: white;
}

.lyrics-txt {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  white-space: pre-wrap;
  letter-spacing: 2px;
  margin-bottom: 110px;
  font-weight: 700;
  font-family: var(--font);
  -webkit-text-stroke: 0.8px black;
  -webkit-text-fill-color: white;
}

/*---------------------------------------------------*/
.np-name,.np-name-p-3  {
  color: var(--text-primary);
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--font);
}

.np-name-min {
  color: var(--text-primary);
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--font);
}

.np-by-outer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.np-by,.np-by-p-3 {
  flex-direction: row;
  font-size: 0.9rem;
  color: var(--bp-name);
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
}
.np-by{
  display: inline-flex;
}
.np-by-p-3{
  display: flex;
  width: 100%;
}
.np-by-min {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  color: var(--bp-name);
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
}
.bp-name {
  position: relative;
  color: var(--bp-name);
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
}
/*------------------minimised player----------------*/
.minimised-player {
  width: 60%;
  min-height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  cursor: pointer;
}
.minimised-player::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(3px);
}
.min-left {
  display: flex;
  position: relative;
}
.mini-circle{
position: relative;
width: 80px;
height: 80px;
}
.mini-circle svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 3.7;
}
.mini-circle svg circle{
  stroke: var(--col-thief);
}
.mini-circle svg{
overflow: visible;
fill: transparent;
transform: rotate(270deg);
}
.min-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.min-right {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}
.mini-album-art {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  margin: auto;
  border-radius: 50%;
  z-index: 2;
}
.mini-play-container {
  background: var(--col-thief);
  border-radius: 50%;
  padding: 0.4rem;
  border: none;
  outline: none;
  box-shadow: 0px 1px 8px var(--col-thief);
}
.mini-play-container svg{
  fill: white;
}
.mini-play-container:hover {
  transform: scale(1.1);
}

.pp-mini {
  background: transparent;
  display: inline-flex;
  border-radius: 50%;
  position: relative;
  padding: 10px;
}
.minimised-player-2 {
  width: 80%;
  min-height: 80px;
  background: var(--max-player-1-bg);
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  z-index: 20;
  cursor: pointer;
}

.minimised-player-2 .min-2-left {
  flex: 0.2;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
}
.minimised-player-2 .min-2-mid {
  flex: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.min-2-mid .np-name span {
  display: flex;
  justify-content: center;
}
.minimised-player-2 .min-2-right {
  flex: 0.3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.minimised-player-3 {
  width: 300px;
  min-height: 80px;
  background: var(--max-player-1-bg);
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  right: 0;
  margin-right: auto;
  text-align: center;
  display: flex;
  z-index: 25;
  cursor: pointer;
  overflow: hidden;
}
.minimised-player-3 .min-3-left {
  flex: 0.2;
  position: relative;
  display: flex;
  align-items: center;
}

.minimised-player-2,
.minimised-player-3 {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.minimised-player-2::before,
.minimised-player-3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(5px);
}

.pulse-outer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
}

.pulse-outer::before {
  animation: pulse 3s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(1.02);
    opacity: 0;
  }
}
.minimised-player-3 .min-3-right {
  flex: 0.75;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px;
}


.mini-album-art-2 {
  background: white;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border-radius: 5px;
}
.mini-album-art-3 {
  background: white;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}

.album-img-div {
  width: 100%;
  position: relative;
}
.album-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: blur(0px);
  object-fit: cover;
}
.album-bg-fs {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  filter: blur(0px);
  object-fit: cover;
}

.album-sm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.album-sm-fs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  margin: auto;
  z-index: 15;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
/*-------------------------------------------------------------*/

/*--------------search---------------*/
.search {
  border-radius: 50px;
  padding: 5px;
  border: 2px solid var(--main-theme);
  box-shadow: 0 2px 7px var(--main-theme);
  display: flex;
}
.search ion-icon {
  font-size: 2rem;
  color: var(--main-theme);
}
.search input {
  border: none;
  background: transparent;
  outline: none;
  color: var(--text-primary);
  width: 280px;
  line-height: 2rem;
  font-family: var(--font);
  letter-spacing: 2px;
}
/*-----------------add to playlist---------------*/
.atp-outer {
  position: absolute;
  width: 99%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 30;
  background: transparent;
  border-radius: 15px;
  animation: hola 0.5s ease-out;
}
.atp {
  width: 400px;
  background: var(--atp-modal);
  border-radius: 15px;
  position: relative;
}
.atp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: inherit;
  border-radius: 15px;
  backdrop-filter: blur(5px);
}

.atp-header {
  display: flex;
  justify-content: space-between;
  background: var(--atp-modal);
  border-radius: 15px;
  padding: 1rem;
}
.atp-inner {
  height: 500px;
  overflow: auto;
  margin-bottom: 1rem;
}
.atp-inner::-webkit-scrollbar {
  width: 7px;
}
.atp-inner::-webkit-scrollbar-track {
  background: transparent;
}
.atp-inner::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.atp-inner::-webkit-scrollbar-thumb:hover {
  background: white;
}
.atp-footer {
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: end;
  background: var(--atp-modal);
  width: 100% !important;
  position: absolute;
  bottom: 0;
}
.add-btn {
  border: none;
  outline: none;
  background: var(--main-theme);
  border-radius: 5px;
  font-weight: 600;
  color: var(--background);
  font-size: small;
  padding: 0.4rem 1rem;
}
.cancel-btn {
  border: none;
  outline: none;
  background: none;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  font-size: small;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
}
.atp-t-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.atp-t-info img {
  border-radius: 5px;
}
.atp-t-info span {
  width: 250px;
  text-align: center;
}
.atp-p-info {
  display: flex;
  border-radius: 10px;
  padding: 10px;
}
.atp-p-info:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.atp-p-check {
  flex: 0.1;
}
.atp-p-name {
  flex: 0.6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.atp-p-count {
  flex: 0.3;
  text-align: right;
}
/*---------------------keyboard----------------------*/
.key-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.key-name {
  color: white;
}
.key-btn {
  color: white;
  padding: 5px 12px;
  border-radius: 7px;
  border: 1px solid var(--main-theme);
  box-shadow: 1px 2px 0 var(--main-theme);
  font-size: 1rem;
}
/*---------------My-devices-------------*/
.devices-container {
  position: relative;
  overflow: visible;
}
.my-devices {
  position: absolute;
  bottom: 35px;
  left: 0;
  background-color: rgba(23, 30, 33, 0.8);
  border-radius: 10px;
  z-index: 15;
  min-width: 20px;
}
.my-devices::before {
  content: '';
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: inherit;
  backdrop-filter: blur(5px);
}
.my-devices::after {
  content: '';
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: inherit;
  position: absolute;
  left: 3px;
  bottom: -3px;
  width: 18px;
  height: 18px;
  z-index: -1;
  transform: rotate(45deg);
  backdrop-filter: blur(5px);
}
.my-devices img {
  padding: 0.5rem;
}
.device-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}
.device-list:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.device-info {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.device-info span {
  width: 100%;
}
.device-name {
  color: rgba(255, 255, 255, 0.8);
}
.device-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
.visualizer {
  display: flex;
  width: 100%;
}

.fullscreen-controls {
  position: absolute;
  /*bottom: 400px;
  left: 100px;*/
  left: 0%;
  top: 50%;
  transform: translate(10%, 120%);
  width: 500px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 1rem;
  border-radius: 20px;
}
.fullscreen-controls:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 500px rgba(23, 30, 33, 0.6);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.fullscreen-btns {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 20;
}
.fullscreen-btns-p1 {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fullscreen-btns-p1 .fs-btn {
  font-size: 1.3rem;
  color: #fff;
  z-index: 50;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.5));
}
.fullscreen-btns-p1 div{
  margin: 7px;
}
.fullscreen-btns-p1 .right-control{
  display: block;
  position: relative;
}
.fullscreen-btns-p1 .devices-container button{
  margin-left: auto !important;
}
.fullscreen-btns-p1 .right-control input{
  position: absolute;
  top: -20px;
  left: 15px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  width: 150px !important;
}
.fs-playlist {
  position: absolute;
  width: 500px;
  right: 0%;
  top: 78%;
  transform: translate(10%, 120%);
}
.atp-outer-fs {
  position: absolute;
  width: 450px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  background: transparent;
}

/*---PLAYER3------------------------*/
.circular-slider-cont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.circle-holder{
  position: relative;
}
.circle-holder img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  border-radius: 50%;
  z-index: 1;
  object-fit: cover;
}
.circular-slider-cont svg {
  width: 30rem;
  height: 30rem;
  padding: 1rem;
}

.circling{
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circling svg{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  transform: rotate(270deg);
}
.circling svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #fff;
  stroke-width: 3;
}
.circling svg circle:nth-child(2){
  stroke: var(--col-thief);
}
.dots{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  transform: translate3d(-50%, -50%, 0);
  justify-content: center;
  cursor: pointer;
}
.dots .dot-seeker{
  content: '';
  position: absolute;
  width: 5%;
  height: 50%;
  left: 47.5%;
  border-radius: 10px;
  top: 0;
  transform: rotate(0deg);
  transform-origin: center bottom;
}
.dots .dot-seeker:before {
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  width: 26px;
  height: 26px;
  margin-top: 0.5rem;
  transform: translate3d(-25%, -25%, 0);
  border-radius: 50%;
  cursor: pointer;
  background: var(--col-thief);
  border: 1px solid #fff;
}
.player-3-album{
  width: 83%;
  border-radius: 50%;
  position: absolute;
}
.p-3-dur {
position: absolute;
bottom: 2rem;
color: white;
display: flex;
}
.p-3-dur span{
 font-family: var(--font);
 font-weight: 900 !important;
 align-self: baseline;
 text-align: center;
}
.suggest-modal{
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 17;
  width: 90%;
  height: 130px;
  display: flex;
  color: white;
  padding: 1rem;
  background: var(--main-theme-bg-lite);
  border-radius: 10px;
  display: none;
}
.suggest-modal::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 500px var(--main-theme-bg-lite);
  backdrop-filter: blur(7px);
  z-index: -1;
}
.suggest-modal p,.suggest-modal i{
  font-family: var(--font);
  letter-spacing: 1px;
}
.suggest-modal button{
  position: absolute;
  top: -15px;
  right: -10px;
  background: var(--main-theme-bg-lite);
  border-radius: 50%;
}
/*------------------RESPONSIVE----------------------*/
@media only screen and (min-width: 768px) {
  .suggest-modal {
      display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .player {
    padding: 0px;
  }
  .my-devices {
    margin-left: 1.5rem;
  }
  .music-player {
    bottom: 75px;
    width: 97%;
    /*background: rgba(0, 255, 127, 0.2);*/
  }
  .min-music-player {
    width: 98%;
  }
  .minimised-player,
  .minimised-player-2 {
    width: 98%;
    bottom: 75px;
  }
  .minimised-player-3 {
    bottom: 75px;
  }
  .mid-control {
    flex: 1;
  }
  .left-control,
  .right-control {
    display: none;
  }
  .circular-slider-cont svg,.circling {
   width: 30rem;
    height: 30rem;
  }
  
  
}
@media screen and (max-width: 500px) {
  .music-player {
    width: 100%;
    height: 100vh;
    bottom: 0;
    border-radius: 0;
  }
  .max-player-1 {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .default-art{
    margin: auto;
  }
  .circular-slider-cont svg,.circling {
    width: 23rem;
    height: 23rem;
  }
  .main-play-container .MuiSvgIcon-fontSizeLarge {
    font-size: 3.5rem;
  }
  .album-art {
    height: 50vh;
  }
  .album-sm {
    display: none;
  }
  
  .atp {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .q-close {
    position: absolute;
    right: 20px;
    top: -20px;
    background: rgba(23, 30, 33, 1) !important;
    border-radius: 8px;
  }

  .switch-btns {
    position: fixed;
  }
  .np-name-min,
  .np-by-min {
    justify-content: start;
  }
  .np-name-p-3 {
    font-size: 1.5rem;
    width: 100%;
  }

  span.text-anim  {
    animation: floatText 15s infinite linear;
  }
  @keyframes floatText {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}
@media screen and (max-width: 768px) {
  .fullscreen-btns {
    display: none;
  }
.fullscreen-btns-p1 .fs-btn {
  display: none;
}
  .loggedData > span {
    display: none;
  }
  .extra-controls {
    display: flex;
  }
}

@media screen and (min-width: 500px) {
  .atp-outer {
    width: 450px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .music-player {
    height: 100%;
    width: 100%;
    bottom: 0;
    border-radius: 0px;
  }
  .extra-controls {
    display: none;
  }
  .controls {
    padding-top: 0;
  }
  .atp-outer {
    height: 100%;
    top: 200px;
  }
  .atp {
    width: 100%;
  }
}
