/*--------------------settings------------------------*/
.settings {
  max-width: 1000px;
  margin: auto;
}

.btn-settings-holder {
  display: flex;
  justify-content: space-around;
}

.btn-settings {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
  width: 200px;
  cursor: pointer;
  border: 1px solid black;
}

.btn-settings span {
  font-family: var(--font);
  font-weight: bolder;
  letter-spacing: 2px;
}

.themer {
  background: transparent;
  display: flex;
  margin: 1rem auto;
}

span.color-info {
  background: var(--background-lite);
  color: white;
  padding: 0.1rem 0.4rem;
  margin-right: 5px;
  border-radius: 20px;
}

.themer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 15px;
}

.btn-settings-slider {
  width: 100%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
}

.btn-settings-slider button {
  width: 100%;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
}

.btn-settings-slider button:nth-child(1) {
  justify-content: flex-start;
  padding-left: 0.5rem;
}

.btn-settings-slider button:nth-child(2) {
  justify-content: flex-end;
  padding-right: 0.5rem;
}


.user-pic-outer {
  display: flex;
  position: relative;
}

.account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sts-container {
  display: flex;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.user-sts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.user-sts span {
  font-size: 1.4rem;
  color: var(--main-theme);
}

.user-sts p {
  color: gray;
  margin-bottom: 0px;
  font-family: var(--font);
  font-weight: 700;
  letter-spacing: 1px;
}

.sign-out-btn {
  border: 2px solid var(--main-theme);
  background: transparent;
  padding: 0.2rem 0.7rem;
  color: var(--main-theme);
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: 700px !important;
  font-family: var(--font);
  text-transform: uppercase;
}

.sign-out-btn:hover {
  border: 2px solid red;
  color: red;
}

.user-pic {
  border-radius: 50%;
  width: 150px;
  margin: auto;
}

.user-name {
  font-size: 1.5rem;
  color: var(--text-primary);
  font-family: var(--font);
  letter-spacing: 2px;
  font-weight: 900;
}

.font-container {
  display: inline-flex;
  align-items: center;
  max-width: 400px;
  margin: auto;
  padding: 0.5rem;
  border-radius: 20px;
  overflow: auto;
}

.font-container::-webkit-scrollbar,
.bg-p-outer::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

.font-container::-webkit-scrollbar-track,
.bg-p-outer::-webkit-scrollbar-track {
  background: transparent;
}

.font-container::-webkit-scrollbar-thumb,
.bg-p-outer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.font-select {
  padding: 0.2rem 1rem;
  margin: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

.other-setting-outer {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.other-settings {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
}

.custom-select-2 select {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--main-theme);
  color: var(--text-primary);
  min-width: 100px;
  border-radius: 2px;
  outline: none;
}

.custom-select-2 select option {
  background: var(--background);
}

/*toggle-switch-3 ///////////*/
.toggle-switch-3 {
  --width: 40px;
  --height: 20px;
  position: relative;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
}

.toggle-switch-3 input {
  position: relative;
  z-index: 1;
  appearance: none;
}

.toggle-switch-3 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid grey;
  border-radius: var(--height);
  transition: 0.5;
}

.toggle-switch-3 input:checked~span {
  border: 2px solid var(--main-theme);
}

.toggle-switch-3 span i {
  position: absolute;
  width: calc(var(--height) - 8px);
  aspect-ratio: 1;
  background: grey;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}

.toggle-switch-3 input:checked~span i {
  left: calc((var(--width) - var(--height)) + 2px);
  background: var(--main-theme);
}

.custom-radio {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fake-radio {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid rgba(250, 230, 250, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background);
}

.fake-radio:nth-child(3) {
  border-radius: 3px;
  border: 4px solid rgba(250, 230, 250, 0.4);
}

.color-p-outer {
  display: flex;
  justify-content: center;
}

.bg-p-outer {
  display: inline-flex;
  overflow: auto;
  padding: 1rem;
}

.color-p-outer .cp-circle,
.bg-circle {
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  margin: 0 1rem;
  cursor: pointer !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  background-size: cover;
  background-position: center;
}

.color-p-outer .cp-circle svg {
  color: var(--text-primary);
  background: var(--background);
  border-radius: 50%;
}

.color-p-outer .cp-circle:nth-child(1) {
  border: 1px solid var(--text-primary);
  background: linear-gradient(45deg, var(--background), var(--background) 100%),
    linear-gradient(135deg, grey, grey),
    linear-gradient(225deg, var(--text-primary), var(--text-primary)),
    linear-gradient(225deg, var(--background), var(--background));
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
}

.color-p-outer .cp-circle:nth-child(2) {
  background: linear-gradient(45deg,
      #f17c58,
      #e94584,
      #24aadb,
      #27dbb1,
      #ffdc18,
      #ff3706);
}

.mix-colors {
  background: linear-gradient(135deg,
      #f17c58,
      #e94584,
      #24aadb,
      #27dbb1,
      #ffdc18,
      #ff3706);
}

.inner-sets-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-sets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner-sets .section-heading {
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  align-items: start;
  font-size: 1rem;
  font-weight: normal;
  width: 150px;
}

/*---------custom digit input---------*/
.digit-input-container {
  display: flex;
  border-radius: 45px;
}

.digit-input-container button {
  color: var(--main-theme-bg);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--background-lite);
}

.decrement {
  padding-left: 0.5rem;
  border-radius: 45px 0 0 45px;
}

.increment {
  padding-right: 0.5rem;
  border-radius: 0 45px 45px 0;
}

input[type="number"].digit-input {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  background-color: var(--background-lite);
  color: var(--main-theme);
  font-family: var(--font);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media screen and (max-width: 500px) {
  .other-settings {
    display: flex;
    justify-content: space-between;
    margin: auto 1rem;
  }
}

@media screen and (max-width: 992px) {
  .vc-settings {
    display: none;
  }
}