.navigation {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 70px;
  height: calc(100vh - 40px);
  border-radius: 20px;
  box-sizing: initial;
  background: var(--background-lite);
  transition: 0.5s;
  z-index: 20;
}
.navigation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  border-radius: 20px;
}
.navigation.active {
  width: 250px;
}

.navigation.active ul li .title {
  display: block;
}
.navigation ul li.active button {
  font-size: 1.1rem;
}
.navigation .nav-b {
  position: absolute;
  bottom: 0;
  width: 100%;
}
button.toggle {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
button.l-out {
  color: #ff0000 /*rgb(57,255,20)*/ !important;
  font-size: 1.2rem;
}

button.l-out ion-icon {
  filter: drop-shadow(0 0.5rem 0.5rem 0 #ff0000) !important;
  -webkit-filter: drop-shadow(3px 5px 2px #ff0000);
}
.l-out .title {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
  filter: drop-shadow(0 0.5rem 0.5rem 0 #ff0000) !important;
  -webkit-filter: drop-shadow(1px 3px 5px #ff0000);
}
.navigation ul {
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  margin-bottom: 0.9rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li.active {
  background: var(--navigation-background) !important;
}
.navigation ul li.active b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: var(--navigation-background);
}
.navigation ul li.active b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
  background: var(--navigation-before);
}
.navigation ul li.active b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: var(--navigation-background);
}
.navigation ul li.active b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  background: var(--navigation-before);
}
.navigation ul li.active button {
  color: var(--main-theme); /*rgb(57,255,20)*/
}
.navigation ul li.active button .icon ion-icon {
  filter: drop-shadow(0 0rem 0.6rem var(--main-theme)) !important;
  -webkit-filter: drop-shadow(3px 5px 2px var(--main-theme));
}
.navigation ul li.active .title {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
  filter: drop-shadow(0 0.1rem 0.1rem var(--main-theme)) !important;
  -webkit-filter: drop-shadow(1px 3px 5px var(--main-theme));
}

.navigation ul li button {
  position: relative;
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.navigation ul li button .icon {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  height: 60px;
  line-height: 60px;
}
.navigation ul li button .icon ion-icon {
  font-size: 1.8rem;
}
.navigation ul li button .title {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: var(--font);
  position: relative;
  display: none;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
/*-----------------BOTTOMBAR(BB)-------------------*/
.bottombar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  width: 99%;
  height: 70px;
  justify-content: space-evenly;
  background: linear-gradient(transparent, transparent);
  z-index: 4;
  border-radius: 12px;
  overflow: hidden;
}
.bottombar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
}
.bb-btn {
  position: relative;
  display: flex;
  align-items: center;
}
.bb-btn .dot {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 7px;
  content: ' ';
  width: 7px;
  height: 5px;
  border-radius: 50%;
  background: var(--main-theme);
}
.bb-icon {
  color: rgba(255, 255, 255, 0.7);
}
.bb-icon ion-icon {
  font-size: 2rem;
}
.bb-active .bb-icon ion-icon {
  color: var(--main-theme);
  filter: drop-shadow(0 0.5rem 0.5rem 0 var(--main-theme)) !important;
  -webkit-filter: drop-shadow(3px 5px 2px var(--main-theme));
}
@media screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .bottombar {
    display: none;
  }
}
