/*---------------------playlist-route---------------*/

.p-info {
  display: flex;
  flex-direction: row;
}
.p-t-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.p-t-container:hover,
.p-t-container:focus {
  background: rgba(255, 255, 255, 0.2);
}
.p-t-container:hover .more-btn-div {
  display: block;
}
.more-btn {
  background: transparent;
  border: none;
  outline: none;
}
.more-btn-div {
  display: block;
  position: relative;
}
.more-options {
  display: none;
  position: absolute;
  right: 0;
}
.more-options-btn {
  background: transparent;
  border: none;
  outline: none;
  color: grey;
}
.more-options-btn:hover {
  color: white;
}
ul.more-options-list {
  padding: 0.5rem;
  background: rgba(23, 30, 33, 1);
  border-radius: 10px;
}
.more-options-list li {
  list-style: none;
  color: grey;
}

.pl {
  flex: 0.3;
}
.pr {
  flex: 0.7;
}

.p-tracks-pic,
.p-tracks-info,
.p-tracks-btn,
.p-tracks-album {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-tracks-info span,
.p-tracks-btn span,
.p-tracks-album span {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
}
.p-tracks-pic {
  flex: 0.1;
}
.p-tracks-info,
.p-tracks-album {
  flex: 0.35;
}
.p-tracks-info {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-tracks-album {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-tracks-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0.2;
  overflow: visible;
}

.p-heading {
  border: 1px solid rgb(0, 255, 127);
  border-radius: 5px;
  padding: 0px 10px;
  color: rgb(0, 255, 127);
}
/*---------------------artist-route---------------*/
.a-info {
  display: flex;
}
.artist-l {
  flex: 0.7;
  position: relative;
}
.artist-r {
  flex: 0.3;
  padding: 2rem;
}
.artist-name {
  font-size: calc(1.375rem + 1.5vw);
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
}

.font-1 span,
.font-1 p,
.font-1 a {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
}
.font-1-s span,
.font-1-s p,
.font-1-s a {
  letter-spacing: 1px;
  font-family: 'Shadows Into Light', cursive;
}
.a-data {
  position: absolute;
  bottom: 0px;
  padding-bottom: 15px;
  border-radius: 20px;
}
#choose1 {
  position: absolute;
  z-index: 1;
}
#choose1::before {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}
/*--------------album---------------------*/
.album-info {
  display: flex;
  flex-direction: row-reverse;
}
.album-r {
  flex: 0.7;
  position: relative !important;
}
.album-l {
  flex: 0.3;
  padding: 2rem;
  position: relative;
}
.album-data {
  position: absolute;
  bottom: 0;
  border-radius: 15px;
}
.album-tracks-info {
  flex: 0.8;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.album-tracks-info span {
  white-space: nowrap;
}

.album-tracks-btn {
  flex: 0.2;
}

@media screen and (max-width: 768px) {
  .p-info {
    flex-direction: column;
  }
  .p-tracks-pic,
  .p-tracks-btn {
    flex: 0.2;
  }
  .p-tracks-album {
    flex: 0;
  }
  .p-tracks-info {
    flex: 0.6;
    margin-left: 10px;
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  .a-info,
  .album-info {
    flex-direction: column-reverse;
  }
  .album-l,
  .artist-r {
    padding: 0rem;
  }
  .a-data {
    position: absolute;
    bottom: 0;
  }
}
