.utube-container {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 11;
  background: rgba(23, 30, 33, 0.6);
}

.utube-container:before {
  content: '';
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  z-index: -1;
}
.utube-results {
  display: flex;
}

.platform-toggle {
  display: flex;
  border-radius: 20px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
/*.platform-toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 2px;
  background: rgba(23, 30, 33, 0.2);
  z-index: -1;
}*/

@media screen and (max-width: 1000px) {
  .utube-results {
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .utube-container {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .utube-container {
    width: 100%;
    height: 100%;
    transform: none;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(23, 30, 33, 0.8);
    border-radius: 0;
  }
}
