.max-player-2 {
  display: flex;
}
.max-player-2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(4px);
}
.mp2-album-art {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.mp2-album-art img {
  border-radius: 10px;
}
.mp2-controls {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .max-player-2 {
    flex-direction: column;
  }
}
