.cards-holder {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0.7rem;
}

.cards-holder::-webkit-scrollbar {
  display: none;
}

.artist-cards {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}

.hover-effect-ac:hover {
  scale: 1.02;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  box-shadow: none !important;
}

.hover-effect-ac:hover img {
  scale: 1.2;
  object-fit: none;
  transition: all 0.3s ease-in-out;
}

.fw-name {
  position: relative;
  color: wheat;
}

.artist-cards img {
  border-radius: 50%;
}