.cards-holder {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0.7rem;
}

.library-cards-holder {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 0.2rem;
  row-gap: 0.5rem;
}

.hover-effect-lc:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
  background: var(--main-theme-bg);
}

.cards-holder::-webkit-scrollbar,
.library-cards-holder::-webkit-scrollbar {
  display: none;
}

.library-playlist-cards {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border-radius: 15px;*/
  overflow: hidden;
}


.library-playlist-cards img {
  width: 100%;
}

.fp-name {
  position: relative;
  color: wheat;
  width: 250px;
  font-weight: bolder;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lp-name {
  position: relative;
  color: var(--bp-name);
  font-weight: bolder;
  width: 100%;
  /*padding: 5px;
  white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: var(--font);
  text-align: center;
}

@media screen and (max-width: 500px) {

  .library-cards-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 0;
    row-gap: 0;
  }
}