.navigation {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 70px;
  height: calc(100vh - 40px);
  border-radius: 20px;
  box-sizing: initial;
  border-left: 5px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  z-index: 21;
}
.navigation.active {
  width: 250px;
}

.navigation.active ul li .title {
  display: block;
}
.navigation ul li.active button {
  font-size: 1.1rem;
}
.navigation .nav-b {
  position: absolute;
  bottom: 0;
  width: 100%;
}
button.toggle {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}
button.l-out {
  color: #ff0000 /*rgb(57,255,20)*/ !important;
  font-size: 1.2rem;
}

button.l-out ion-icon {
  filter: drop-shadow(0 0.5rem 0.5rem 0 #ff0000) !important;
  -webkit-filter: drop-shadow(3px 5px 2px #ff0000);
}
.l-out .title {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
  filter: drop-shadow(0 0.5rem 0.5rem 0 #ff0000) !important;
  -webkit-filter: drop-shadow(1px 3px 5px #ff0000);
}
.navigation ul {
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li.active {
  background: black !important;
}
.navigation ul li.active b:nth-child(1) {
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: black;
}
.navigation ul li.active b:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.navigation ul li.active b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  background: black;
}
.navigation ul li.active b:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.navigation ul li.active button {
  color: var(--main-theme); /*rgb(57,255,20)*/
}
.navigation ul li.active button .icon ion-icon {
  filter: drop-shadow(0 0.3rem 0.1rem var(--main-theme)) !important;
  -webkit-filter: drop-shadow(3px 5px 2px var(--main-theme));
}
.navigation ul li.active .title {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
  filter: drop-shadow(0 0.1rem 0.1rem var(--main-theme)) !important;
  -webkit-filter: drop-shadow(1px 3px 5px var(--main-theme));
}

.navigation ul li button {
  position: relative;
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.navigation ul li button .icon {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  height: 60px;
  line-height: 60px;
}
.navigation ul li button .icon ion-icon {
  font-size: 1.5em;
}
.navigation ul li button .title {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
  position: relative;
  display: none;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
/*-----------------BOTTOMBAR(BB)-------------------*/
.bottombar {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-around;
  background: linear-gradient(transparent, black);
  z-index: 1;
}
.bottombar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(2px);
}
.bb-btn {
  position: relative;
  display: flex;
  align-items: center;
}
.bb-btn .dot {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 7px;
  content: ' ';
  width: 7px;
  height: 5px;
  border-radius: 50%;
  background: rgb(0, 255, 127);
}
.bb-icon {
  color: rgba(255, 255, 255, 0.7);
}
.bb-icon ion-icon {
  font-size: 2rem;
}
.bb-active .bb-icon ion-icon {
  color: rgb(0, 255, 127);
  filter: drop-shadow(0 0.5rem 0.5rem 0 rgb(0, 255, 127)) !important;
  -webkit-filter: drop-shadow(3px 5px 2px rgb(0, 255, 127));
}
@media screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .bottombar {
    display: none;
  }
}
